m1 ought to be lower than m2
m2 ought to be lower than m3
m3 ought to be lower than m4
m4 ought to be lower than m5
m5 ought to be lower than m6
m6 ought to be lower than m7
m7 ought to be lower than m8
the span from m1 to m2 ought to be distinct from the span from m1 to m3
the span from m1 to m2 ought to be distinct from the span from m1 to m4
the span from m1 to m2 ought to be distinct from the span from m1 to m5
the span from m1 to m2 ought to be distinct from the span from m1 to m6
the span from m1 to m2 ought to be distinct from the span from m1 to m7
the span from m1 to m2 ought to be distinct from the span from m1 to m8
the span from m1 to m2 ought to be distinct from the span from m2 to m3
the span from m1 to m2 ought to be distinct from the span from m2 to m4
the span from m1 to m2 ought to be distinct from the span from m2 to m5
the span from m1 to m2 ought to be distinct from the span from m2 to m6
the span from m1 to m2 ought to be distinct from the span from m2 to m7
the span from m1 to m2 ought to be distinct from the span from m2 to m8
the span from m1 to m2 ought to be distinct from the span from m3 to m4
the span from m1 to m2 ought to be distinct from the span from m3 to m5
the span from m1 to m2 ought to be distinct from the span from m3 to m6
the span from m1 to m2 ought to be distinct from the span from m3 to m7
the span from m1 to m2 ought to be distinct from the span from m3 to m8
the span from m1 to m2 ought to be distinct from the span from m4 to m5
the span from m1 to m2 ought to be distinct from the span from m4 to m6
the span from m1 to m2 ought to be distinct from the span from m4 to m7
the span from m1 to m2 ought to be distinct from the span from m4 to m8
the span from m1 to m2 ought to be distinct from the span from m5 to m6
the span from m1 to m2 ought to be distinct from the span from m5 to m7
the span from m1 to m2 ought to be distinct from the span from m5 to m8
the span from m1 to m2 ought to be distinct from the span from m6 to m7
the span from m1 to m2 ought to be distinct from the span from m6 to m8
the span from m1 to m2 ought to be distinct from the span from m7 to m8
the span from m1 to m3 ought to be distinct from the span from m1 to m4
the span from m1 to m3 ought to be distinct from the span from m1 to m5
the span from m1 to m3 ought to be distinct from the span from m1 to m6
the span from m1 to m3 ought to be distinct from the span from m1 to m7
the span from m1 to m3 ought to be distinct from the span from m1 to m8
the span from m1 to m3 ought to be distinct from the span from m2 to m3
the span from m1 to m3 ought to be distinct from the span from m2 to m4
the span from m1 to m3 ought to be distinct from the span from m2 to m5
the span from m1 to m3 ought to be distinct from the span from m2 to m6
the span from m1 to m3 ought to be distinct from the span from m2 to m7
the span from m1 to m3 ought to be distinct from the span from m2 to m8
the span from m1 to m3 ought to be distinct from the span from m3 to m4
the span from m1 to m3 ought to be distinct from the span from m3 to m5
the span from m1 to m3 ought to be distinct from the span from m3 to m6
the span from m1 to m3 ought to be distinct from the span from m3 to m7
the span from m1 to m3 ought to be distinct from the span from m3 to m8
the span from m1 to m3 ought to be distinct from the span from m4 to m5
the span from m1 to m3 ought to be distinct from the span from m4 to m6
the span from m1 to m3 ought to be distinct from the span from m4 to m7
the span from m1 to m3 ought to be distinct from the span from m4 to m8
the span from m1 to m3 ought to be distinct from the span from m5 to m6
the span from m1 to m3 ought to be distinct from the span from m5 to m7
the span from m1 to m3 ought to be distinct from the span from m5 to m8
the span from m1 to m3 ought to be distinct from the span from m6 to m7
the span from m1 to m3 ought to be distinct from the span from m6 to m8
the span from m1 to m3 ought to be distinct from the span from m7 to m8
the span from m1 to m4 ought to be distinct from the span from m1 to m5
the span from m1 to m4 ought to be distinct from the span from m1 to m6
the span from m1 to m4 ought to be distinct from the span from m1 to m7
the span from m1 to m4 ought to be distinct from the span from m1 to m8
the span from m1 to m4 ought to be distinct from the span from m2 to m3
the span from m1 to m4 ought to be distinct from the span from m2 to m4
the span from m1 to m4 ought to be distinct from the span from m2 to m5
the span from m1 to m4 ought to be distinct from the span from m2 to m6
the span from m1 to m4 ought to be distinct from the span from m2 to m7
the span from m1 to m4 ought to be distinct from the span from m2 to m8
the span from m1 to m4 ought to be distinct from the span from m3 to m4
the span from m1 to m4 ought to be distinct from the span from m3 to m5
the span from m1 to m4 ought to be distinct from the span from m3 to m6
the span from m1 to m4 ought to be distinct from the span from m3 to m7
the span from m1 to m4 ought to be distinct from the span from m3 to m8
the span from m1 to m4 ought to be distinct from the span from m4 to m5
the span from m1 to m4 ought to be distinct from the span from m4 to m6
the span from m1 to m4 ought to be distinct from the span from m4 to m7
the span from m1 to m4 ought to be distinct from the span from m4 to m8
the span from m1 to m4 ought to be distinct from the span from m5 to m6
the span from m1 to m4 ought to be distinct from the span from m5 to m7
the span from m1 to m4 ought to be distinct from the span from m5 to m8
the span from m1 to m4 ought to be distinct from the span from m6 to m7
the span from m1 to m4 ought to be distinct from the span from m6 to m8
the span from m1 to m4 ought to be distinct from the span from m7 to m8
the span from m1 to m5 ought to be distinct from the span from m1 to m6
the span from m1 to m5 ought to be distinct from the span from m1 to m7
the span from m1 to m5 ought to be distinct from the span from m1 to m8
the span from m1 to m5 ought to be distinct from the span from m2 to m3
the span from m1 to m5 ought to be distinct from the span from m2 to m4
the span from m1 to m5 ought to be distinct from the span from m2 to m5
the span from m1 to m5 ought to be distinct from the span from m2 to m6
the span from m1 to m5 ought to be distinct from the span from m2 to m7
the span from m1 to m5 ought to be distinct from the span from m2 to m8
the span from m1 to m5 ought to be distinct from the span from m3 to m4
the span from m1 to m5 ought to be distinct from the span from m3 to m5
the span from m1 to m5 ought to be distinct from the span from m3 to m6
the span from m1 to m5 ought to be distinct from the span from m3 to m7
the span from m1 to m5 ought to be distinct from the span from m3 to m8
the span from m1 to m5 ought to be distinct from the span from m4 to m5
the span from m1 to m5 ought to be distinct from the span from m4 to m6
the span from m1 to m5 ought to be distinct from the span from m4 to m7
the span from m1 to m5 ought to be distinct from the span from m4 to m8
the span from m1 to m5 ought to be distinct from the span from m5 to m6
the span from m1 to m5 ought to be distinct from the span from m5 to m7
the span from m1 to m5 ought to be distinct from the span from m5 to m8
the span from m1 to m5 ought to be distinct from the span from m6 to m7
the span from m1 to m5 ought to be distinct from the span from m6 to m8
the span from m1 to m5 ought to be distinct from the span from m7 to m8
the span from m1 to m6 ought to be distinct from the span from m1 to m7
the span from m1 to m6 ought to be distinct from the span from m1 to m8
the span from m1 to m6 ought to be distinct from the span from m2 to m3
the span from m1 to m6 ought to be distinct from the span from m2 to m4
the span from m1 to m6 ought to be distinct from the span from m2 to m5
the span from m1 to m6 ought to be distinct from the span from m2 to m6
the span from m1 to m6 ought to be distinct from the span from m2 to m7
the span from m1 to m6 ought to be distinct from the span from m2 to m8
the span from m1 to m6 ought to be distinct from the span from m3 to m4
the span from m1 to m6 ought to be distinct from the span from m3 to m5
the span from m1 to m6 ought to be distinct from the span from m3 to m6
the span from m1 to m6 ought to be distinct from the span from m3 to m7
the span from m1 to m6 ought to be distinct from the span from m3 to m8
the span from m1 to m6 ought to be distinct from the span from m4 to m5
the span from m1 to m6 ought to be distinct from the span from m4 to m6
the span from m1 to m6 ought to be distinct from the span from m4 to m7
the span from m1 to m6 ought to be distinct from the span from m4 to m8
the span from m1 to m6 ought to be distinct from the span from m5 to m6
the span from m1 to m6 ought to be distinct from the span from m5 to m7
the span from m1 to m6 ought to be distinct from the span from m5 to m8
the span from m1 to m6 ought to be distinct from the span from m6 to m7
the span from m1 to m6 ought to be distinct from the span from m6 to m8
the span from m1 to m6 ought to be distinct from the span from m7 to m8
the span from m1 to m7 ought to be distinct from the span from m1 to m8
the span from m1 to m7 ought to be distinct from the span from m2 to m3
the span from m1 to m7 ought to be distinct from the span from m2 to m4
the span from m1 to m7 ought to be distinct from the span from m2 to m5
the span from m1 to m7 ought to be distinct from the span from m2 to m6
the span from m1 to m7 ought to be distinct from the span from m2 to m7
the span from m1 to m7 ought to be distinct from the span from m2 to m8
the span from m1 to m7 ought to be distinct from the span from m3 to m4
the span from m1 to m7 ought to be distinct from the span from m3 to m5
the span from m1 to m7 ought to be distinct from the span from m3 to m6
the span from m1 to m7 ought to be distinct from the span from m3 to m7
the span from m1 to m7 ought to be distinct from the span from m3 to m8
the span from m1 to m7 ought to be distinct from the span from m4 to m5
the span from m1 to m7 ought to be distinct from the span from m4 to m6
the span from m1 to m7 ought to be distinct from the span from m4 to m7
the span from m1 to m7 ought to be distinct from the span from m4 to m8
the span from m1 to m7 ought to be distinct from the span from m5 to m6
the span from m1 to m7 ought to be distinct from the span from m5 to m7
the span from m1 to m7 ought to be distinct from the span from m5 to m8
the span from m1 to m7 ought to be distinct from the span from m6 to m7
the span from m1 to m7 ought to be distinct from the span from m6 to m8
the span from m1 to m7 ought to be distinct from the span from m7 to m8
the span from m1 to m8 ought to be distinct from the span from m2 to m3
the span from m1 to m8 ought to be distinct from the span from m2 to m4
the span from m1 to m8 ought to be distinct from the span from m2 to m5
the span from m1 to m8 ought to be distinct from the span from m2 to m6
the span from m1 to m8 ought to be distinct from the span from m2 to m7
the span from m1 to m8 ought to be distinct from the span from m2 to m8
the span from m1 to m8 ought to be distinct from the span from m3 to m4
the span from m1 to m8 ought to be distinct from the span from m3 to m5
the span from m1 to m8 ought to be distinct from the span from m3 to m6
the span from m1 to m8 ought to be distinct from the span from m3 to m7
the span from m1 to m8 ought to be distinct from the span from m3 to m8
the span from m1 to m8 ought to be distinct from the span from m4 to m5
the span from m1 to m8 ought to be distinct from the span from m4 to m6
the span from m1 to m8 ought to be distinct from the span from m4 to m7
the span from m1 to m8 ought to be distinct from the span from m4 to m8
the span from m1 to m8 ought to be distinct from the span from m5 to m6
the span from m1 to m8 ought to be distinct from the span from m5 to m7
the span from m1 to m8 ought to be distinct from the span from m5 to m8
the span from m1 to m8 ought to be distinct from the span from m6 to m7
the span from m1 to m8 ought to be distinct from the span from m6 to m8
the span from m1 to m8 ought to be distinct from the span from m7 to m8
the span from m2 to m3 ought to be distinct from the span from m2 to m4
the span from m2 to m3 ought to be distinct from the span from m2 to m5
the span from m2 to m3 ought to be distinct from the span from m2 to m6
the span from m2 to m3 ought to be distinct from the span from m2 to m7
the span from m2 to m3 ought to be distinct from the span from m2 to m8
the span from m2 to m3 ought to be distinct from the span from m3 to m4
the span from m2 to m3 ought to be distinct from the span from m3 to m5
the span from m2 to m3 ought to be distinct from the span from m3 to m6
the span from m2 to m3 ought to be distinct from the span from m3 to m7
the span from m2 to m3 ought to be distinct from the span from m3 to m8
the span from m2 to m3 ought to be distinct from the span from m4 to m5
the span from m2 to m3 ought to be distinct from the span from m4 to m6
the span from m2 to m3 ought to be distinct from the span from m4 to m7
the span from m2 to m3 ought to be distinct from the span from m4 to m8
the span from m2 to m3 ought to be distinct from the span from m5 to m6
the span from m2 to m3 ought to be distinct from the span from m5 to m7
the span from m2 to m3 ought to be distinct from the span from m5 to m8
the span from m2 to m3 ought to be distinct from the span from m6 to m7
the span from m2 to m3 ought to be distinct from the span from m6 to m8
the span from m2 to m3 ought to be distinct from the span from m7 to m8
the span from m2 to m4 ought to be distinct from the span from m2 to m5
the span from m2 to m4 ought to be distinct from the span from m2 to m6
the span from m2 to m4 ought to be distinct from the span from m2 to m7
the span from m2 to m4 ought to be distinct from the span from m2 to m8
the span from m2 to m4 ought to be distinct from the span from m3 to m4
the span from m2 to m4 ought to be distinct from the span from m3 to m5
the span from m2 to m4 ought to be distinct from the span from m3 to m6
the span from m2 to m4 ought to be distinct from the span from m3 to m7
the span from m2 to m4 ought to be distinct from the span from m3 to m8
the span from m2 to m4 ought to be distinct from the span from m4 to m5
the span from m2 to m4 ought to be distinct from the span from m4 to m6
the span from m2 to m4 ought to be distinct from the span from m4 to m7
the span from m2 to m4 ought to be distinct from the span from m4 to m8
the span from m2 to m4 ought to be distinct from the span from m5 to m6
the span from m2 to m4 ought to be distinct from the span from m5 to m7
the span from m2 to m4 ought to be distinct from the span from m5 to m8
the span from m2 to m4 ought to be distinct from the span from m6 to m7
the span from m2 to m4 ought to be distinct from the span from m6 to m8
the span from m2 to m4 ought to be distinct from the span from m7 to m8
the span from m2 to m5 ought to be distinct from the span from m2 to m6
the span from m2 to m5 ought to be distinct from the span from m2 to m7
the span from m2 to m5 ought to be distinct from the span from m2 to m8
the span from m2 to m5 ought to be distinct from the span from m3 to m4
the span from m2 to m5 ought to be distinct from the span from m3 to m5
the span from m2 to m5 ought to be distinct from the span from m3 to m6
the span from m2 to m5 ought to be distinct from the span from m3 to m7
the span from m2 to m5 ought to be distinct from the span from m3 to m8
the span from m2 to m5 ought to be distinct from the span from m4 to m5
the span from m2 to m5 ought to be distinct from the span from m4 to m6
the span from m2 to m5 ought to be distinct from the span from m4 to m7
the span from m2 to m5 ought to be distinct from the span from m4 to m8
the span from m2 to m5 ought to be distinct from the span from m5 to m6
the span from m2 to m5 ought to be distinct from the span from m5 to m7
the span from m2 to m5 ought to be distinct from the span from m5 to m8
the span from m2 to m5 ought to be distinct from the span from m6 to m7
the span from m2 to m5 ought to be distinct from the span from m6 to m8
the span from m2 to m5 ought to be distinct from the span from m7 to m8
the span from m2 to m6 ought to be distinct from the span from m2 to m7
the span from m2 to m6 ought to be distinct from the span from m2 to m8
the span from m2 to m6 ought to be distinct from the span from m3 to m4
the span from m2 to m6 ought to be distinct from the span from m3 to m5
the span from m2 to m6 ought to be distinct from the span from m3 to m6
the span from m2 to m6 ought to be distinct from the span from m3 to m7
the span from m2 to m6 ought to be distinct from the span from m3 to m8
the span from m2 to m6 ought to be distinct from the span from m4 to m5
the span from m2 to m6 ought to be distinct from the span from m4 to m6
the span from m2 to m6 ought to be distinct from the span from m4 to m7
the span from m2 to m6 ought to be distinct from the span from m4 to m8
the span from m2 to m6 ought to be distinct from the span from m5 to m6
the span from m2 to m6 ought to be distinct from the span from m5 to m7
the span from m2 to m6 ought to be distinct from the span from m5 to m8
the span from m2 to m6 ought to be distinct from the span from m6 to m7
the span from m2 to m6 ought to be distinct from the span from m6 to m8
the span from m2 to m6 ought to be distinct from the span from m7 to m8
the span from m2 to m7 ought to be distinct from the span from m2 to m8
the span from m2 to m7 ought to be distinct from the span from m3 to m4
the span from m2 to m7 ought to be distinct from the span from m3 to m5
the span from m2 to m7 ought to be distinct from the span from m3 to m6
the span from m2 to m7 ought to be distinct from the span from m3 to m7
the span from m2 to m7 ought to be distinct from the span from m3 to m8
the span from m2 to m7 ought to be distinct from the span from m4 to m5
the span from m2 to m7 ought to be distinct from the span from m4 to m6
the span from m2 to m7 ought to be distinct from the span from m4 to m7
the span from m2 to m7 ought to be distinct from the span from m4 to m8
the span from m2 to m7 ought to be distinct from the span from m5 to m6
the span from m2 to m7 ought to be distinct from the span from m5 to m7
the span from m2 to m7 ought to be distinct from the span from m5 to m8
the span from m2 to m7 ought to be distinct from the span from m6 to m7
the span from m2 to m7 ought to be distinct from the span from m6 to m8
the span from m2 to m7 ought to be distinct from the span from m7 to m8
the span from m2 to m8 ought to be distinct from the span from m3 to m4
the span from m2 to m8 ought to be distinct from the span from m3 to m5
the span from m2 to m8 ought to be distinct from the span from m3 to m6
the span from m2 to m8 ought to be distinct from the span from m3 to m7
the span from m2 to m8 ought to be distinct from the span from m3 to m8
the span from m2 to m8 ought to be distinct from the span from m4 to m5
the span from m2 to m8 ought to be distinct from the span from m4 to m6
the span from m2 to m8 ought to be distinct from the span from m4 to m7
the span from m2 to m8 ought to be distinct from the span from m4 to m8
the span from m2 to m8 ought to be distinct from the span from m5 to m6
the span from m2 to m8 ought to be distinct from the span from m5 to m7
the span from m2 to m8 ought to be distinct from the span from m5 to m8
the span from m2 to m8 ought to be distinct from the span from m6 to m7
the span from m2 to m8 ought to be distinct from the span from m6 to m8
the span from m2 to m8 ought to be distinct from the span from m7 to m8
the span from m3 to m4 ought to be distinct from the span from m3 to m5
the span from m3 to m4 ought to be distinct from the span from m3 to m6
the span from m3 to m4 ought to be distinct from the span from m3 to m7
the span from m3 to m4 ought to be distinct from the span from m3 to m8
the span from m3 to m4 ought to be distinct from the span from m4 to m5
the span from m3 to m4 ought to be distinct from the span from m4 to m6
the span from m3 to m4 ought to be distinct from the span from m4 to m7
the span from m3 to m4 ought to be distinct from the span from m4 to m8
the span from m3 to m4 ought to be distinct from the span from m5 to m6
the span from m3 to m4 ought to be distinct from the span from m5 to m7
the span from m3 to m4 ought to be distinct from the span from m5 to m8
the span from m3 to m4 ought to be distinct from the span from m6 to m7
the span from m3 to m4 ought to be distinct from the span from m6 to m8
the span from m3 to m4 ought to be distinct from the span from m7 to m8
the span from m3 to m5 ought to be distinct from the span from m3 to m6
the span from m3 to m5 ought to be distinct from the span from m3 to m7
the span from m3 to m5 ought to be distinct from the span from m3 to m8
the span from m3 to m5 ought to be distinct from the span from m4 to m5
the span from m3 to m5 ought to be distinct from the span from m4 to m6
the span from m3 to m5 ought to be distinct from the span from m4 to m7
the span from m3 to m5 ought to be distinct from the span from m4 to m8
the span from m3 to m5 ought to be distinct from the span from m5 to m6
the span from m3 to m5 ought to be distinct from the span from m5 to m7
the span from m3 to m5 ought to be distinct from the span from m5 to m8
the span from m3 to m5 ought to be distinct from the span from m6 to m7
the span from m3 to m5 ought to be distinct from the span from m6 to m8
the span from m3 to m5 ought to be distinct from the span from m7 to m8
the span from m3 to m6 ought to be distinct from the span from m3 to m7
the span from m3 to m6 ought to be distinct from the span from m3 to m8
the span from m3 to m6 ought to be distinct from the span from m4 to m5
the span from m3 to m6 ought to be distinct from the span from m4 to m6
the span from m3 to m6 ought to be distinct from the span from m4 to m7
the span from m3 to m6 ought to be distinct from the span from m4 to m8
the span from m3 to m6 ought to be distinct from the span from m5 to m6
the span from m3 to m6 ought to be distinct from the span from m5 to m7
the span from m3 to m6 ought to be distinct from the span from m5 to m8
the span from m3 to m6 ought to be distinct from the span from m6 to m7
the span from m3 to m6 ought to be distinct from the span from m6 to m8
the span from m3 to m6 ought to be distinct from the span from m7 to m8
the span from m3 to m7 ought to be distinct from the span from m3 to m8
the span from m3 to m7 ought to be distinct from the span from m4 to m5
the span from m3 to m7 ought to be distinct from the span from m4 to m6
the span from m3 to m7 ought to be distinct from the span from m4 to m7
the span from m3 to m7 ought to be distinct from the span from m4 to m8
the span from m3 to m7 ought to be distinct from the span from m5 to m6
the span from m3 to m7 ought to be distinct from the span from m5 to m7
the span from m3 to m7 ought to be distinct from the span from m5 to m8
the span from m3 to m7 ought to be distinct from the span from m6 to m7
the span from m3 to m7 ought to be distinct from the span from m6 to m8
the span from m3 to m7 ought to be distinct from the span from m7 to m8
the span from m3 to m8 ought to be distinct from the span from m4 to m5
the span from m3 to m8 ought to be distinct from the span from m4 to m6
the span from m3 to m8 ought to be distinct from the span from m4 to m7
the span from m3 to m8 ought to be distinct from the span from m4 to m8
the span from m3 to m8 ought to be distinct from the span from m5 to m6
the span from m3 to m8 ought to be distinct from the span from m5 to m7
the span from m3 to m8 ought to be distinct from the span from m5 to m8
the span from m3 to m8 ought to be distinct from the span from m6 to m7
the span from m3 to m8 ought to be distinct from the span from m6 to m8
the span from m3 to m8 ought to be distinct from the span from m7 to m8
the span from m4 to m5 ought to be distinct from the span from m4 to m6
the span from m4 to m5 ought to be distinct from the span from m4 to m7
the span from m4 to m5 ought to be distinct from the span from m4 to m8
the span from m4 to m5 ought to be distinct from the span from m5 to m6
the span from m4 to m5 ought to be distinct from the span from m5 to m7
the span from m4 to m5 ought to be distinct from the span from m5 to m8
the span from m4 to m5 ought to be distinct from the span from m6 to m7
the span from m4 to m5 ought to be distinct from the span from m6 to m8
the span from m4 to m5 ought to be distinct from the span from m7 to m8
the span from m4 to m6 ought to be distinct from the span from m4 to m7
the span from m4 to m6 ought to be distinct from the span from m4 to m8
the span from m4 to m6 ought to be distinct from the span from m5 to m6
the span from m4 to m6 ought to be distinct from the span from m5 to m7
the span from m4 to m6 ought to be distinct from the span from m5 to m8
the span from m4 to m6 ought to be distinct from the span from m6 to m7
the span from m4 to m6 ought to be distinct from the span from m6 to m8
the span from m4 to m6 ought to be distinct from the span from m7 to m8
the span from m4 to m7 ought to be distinct from the span from m4 to m8
the span from m4 to m7 ought to be distinct from the span from m5 to m6
the span from m4 to m7 ought to be distinct from the span from m5 to m7
the span from m4 to m7 ought to be distinct from the span from m5 to m8
the span from m4 to m7 ought to be distinct from the span from m6 to m7
the span from m4 to m7 ought to be distinct from the span from m6 to m8
the span from m4 to m7 ought to be distinct from the span from m7 to m8
the span from m4 to m8 ought to be distinct from the span from m5 to m6
the span from m4 to m8 ought to be distinct from the span from m5 to m7
the span from m4 to m8 ought to be distinct from the span from m5 to m8
the span from m4 to m8 ought to be distinct from the span from m6 to m7
the span from m4 to m8 ought to be distinct from the span from m6 to m8
the span from m4 to m8 ought to be distinct from the span from m7 to m8
the span from m5 to m6 ought to be distinct from the span from m5 to m7
the span from m5 to m6 ought to be distinct from the span from m5 to m8
the span from m5 to m6 ought to be distinct from the span from m6 to m7
the span from m5 to m6 ought to be distinct from the span from m6 to m8
the span from m5 to m6 ought to be distinct from the span from m7 to m8
the span from m5 to m7 ought to be distinct from the span from m5 to m8
the span from m5 to m7 ought to be distinct from the span from m6 to m7
the span from m5 to m7 ought to be distinct from the span from m6 to m8
the span from m5 to m7 ought to be distinct from the span from m7 to m8
the span from m5 to m8 ought to be distinct from the span from m6 to m7
the span from m5 to m8 ought to be distinct from the span from m6 to m8
the span from m5 to m8 ought to be distinct from the span from m7 to m8
the span from m6 to m7 ought to be distinct from the span from m6 to m8
the span from m6 to m7 ought to be distinct from the span from m7 to m8
the span from m6 to m8 ought to be distinct from the span from m7 to m8